*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    height: 100vh;
    width: 0vw;
    background: linear-gradient(to right,#1f0050, #4203a7);
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    z-index: 101;
}
.icon{
    height: 5vh;
    width: auto;
    cursor: pointer;
    transition: transform 300ms ease;
}
.icon:hover{
    transform: scale(0.85);
}
#cancel{
    height: auto;
    width: 0vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
}
ul{
    height: 95vh;
    width: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 3vw;
    display: inline-block;
    transition: transform 300ms ease, color 300ms ease, text-shadow 300ms ease;
}
a:hover{
    transform: scale(0.85);
    color: gold;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, 1px 1px 1px black, -1px 1px 1px black;
}
.blur{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(206, 190, 100);
}
header{
    height: 10vw;
    width: 100vw;
    background: linear-gradient(to left,#1f0050, #4203a7);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 10vw;
    justify-items: center;
    align-items: center;
    font-size: 2.5vw;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.menu{
    height: 30vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.AS{
    min-height: 150px;
    width: 85%;
    background-color: #f3ebff;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    color: #2d2d2d;
    box-sizing: border-box;
}
h1{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: #3a275e;
    color: #f3ebff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
#about{
    scroll-margin-top: 10vw;
}
#contact{
    scroll-margin-top: 10vw;
}
@media screen and (max-width: 1031px) {
    footer{
        font-size: 2vw;
    }
    header{
        font-size: 2vw;
    }
}
@media screen and (max-width: 801px) {
    a{
        font-size: 4vw;
    }
    header{
        height: 15vw;
        grid-template-rows: 15vw;
    }
    #about{
        scroll-margin-top: 15vw;
    }
    #contact{
        scroll-margin-top: 15vw;
    }
    footer{
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 601px) {
    header{
        height: 15vw;
        grid-template-rows: 15vw;
    }
    #about{
        scroll-margin-top: 15vw;
    }
    #contact{
        scroll-margin-top: 15vw;
    }
    a{
        font-size: 5vw;
    }
    footer{
        font-size: 3vw;
    }
}
@media screen and (max-width: 451px) {
    header{
        height: 20vw;
        grid-template-rows: 20vw;
    }
    #about{
        scroll-margin-top: 20vw;
    }
    #contact{
        scroll-margin-top: 20vw;
    }
    a{
        font-size: 7vw;
    }
    footer{
        font-size: 4vw;
    }
}